body{
    background-color: rgb(44, 42, 77);
    color:white;
}
#webCamWindow {
	border: 5px solid #000;
	width: 640px;
	height:  480px;
	position:absolute;
	top: 0;
	opacity: 1;
	left: 0;
	margin-left: 27vw;
	margin-top: 10vw;
}
#canvas {
	position: absolute;
	opacity: 1;
	top: 0;
	left: 0;
	width: 640px;
	height:  480px;
}

#movement {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid rgba(0, 0, 255, 0);
	background: rgba(0, 0, 255, 0);
}
#timer{
    position:absolute;
    color:white;
	background-color:rgb(44, 42, 77);
	font-size: 3vw;
	margin-left: 15vw;
	margin: bottom auto;
}
h1{
	text-align: center;
	font-size: 3vw;
}
.controller{
    display: flex;
    justify-content:center;
}

#movementNotification{
	color:rgb(44, 42, 77);
}h4{
	text-align:right;
}
#regeln{
	text-align:right;
	text-decoration: underline;
	font-size: 2vw;
}
#admin{
	text-align:justify;
	position: relative;
}
h3{
	font-size: 3vw;
	margin-left: 5vw;
}
#ranking{
margin-top: -7vw;
text-decoration: underline;
font-size: 2vw;
}
#snap{
    background-color: darkblue;
    width: 15vw; height: 5vw;
    margin-top: 5vw;
    border-radius: 1vw;
    color: white;
	margin-right: 3vw;
}
h6{
	text-align: end;
	font-size: 1vw;
	margin-top: -2vw;
}